
/* for larger screens */
@media (min-width:2161px){
 
    .vertical{
        border-left: 8px solid rgba(255, 255, 255, 0.479);
        position: absolute;
        top: 0;
        left: 33.1%;
        height: 100vh;
      }
      .wrapper{
        display: flex;
      }
      .about{
        flex: 1;
        margin: 10% 0 0 0;

      }
      .coming-soon{
       flex: 2;
       margin: 10% 0 0 0;
       padding:0 0 0 2rem;
      }
      .about-text{
          width: 80%;
          margin: 0 auto;
          font-size: 40px;
          padding: 80px 0 30px 0;
      }
      .about-logo{
        position: absolute;
        left: 12%;
        bottom: -99px;
      }
      .about-logo img{
          width: 250px;
      }
      .about-text span{
        font-size: 30px;
      }

      .soon_div{
        padding:20px 0;
      
      }
      .soon_div h3{
        letter-spacing: 5px;
        font-size: 30px;  
      }
      .soon_div h1{
        letter-spacing: 8px;
        font-weight: 700;
        font-size: 8rem;
        width: 700px;
        line-height: 1.155;
        
      }
      
      .info{
        display: flex;
        gap: 1rem;
        color: #ffffff;
        padding: 10px 0;
        line-height: 1.3rem;
      }
      
      .info span{
        display: block;
        color:#003557 ;
        font-size:18px ;
      
      }
      .info-1 h5{
        margin-bottom: 4rem;
        font-size:3.5rem;
       
      }
      .info-2{
        margin-top: 5.2rem;
      }
      .info-1 h4,
       .info-2 h4{
           font-size: 40px;
           line-height: 1.3;
       }
      .info-1 span,
       .info-2 span{
           font-size: 40px;
           line-height: 1.3;
       }
      
      .shop-connect{
        display: flex;
        gap: 9rem;
        padding-bottom: 2rem;
      }
      .shop h2, .connect h2{
        padding: 0 0 10px 0;
        font-size: 40px;
        
      }
      .shop-list{
        display: flex;
        gap:2rem;
        
      }
      .shop-list li{
        background: #fff;
        padding: 10px 16px 0 16px;
        border-radius: 18px;
        
      }
      li img{
        height: 60px;
        width: 100px; 
      }
      .social-link{
        display: flex;
        gap: 1rem;
      }
      .social-link li{
        font-weight: bold;
        font-size: 50px;
      }

      .copy{
        font-size: 30px;
        
      }
      .mobile-footer{
        display: none;
      }
}
/* for laptops */
@media (min-width: 1915px) and (max-width:2160px){
    .wrapper{
        display: flex;

      }
    .vertical{
        border-left: 6px solid rgba(255, 255, 255, 0.479);
        position: absolute;
        top: 0;
        left: 33.1%;
        height: 100vh;
      }
      .about-text{
        padding: 40px 32px 0 32px;
        text-align: center;
        color: #ffffff;
        font-size: 22px;
        line-height: 1.8;
      }
    .about-text span{
        font-size: 19px;
    }
    .about-logo{
        bottom: 130px;
    }
    .about-logo img{
        width: 150px;
    }

    .soon_div{
        padding:20px 0 ;
      
      }
      .soon_div h3{
        letter-spacing: 5px;
        font-size: 16px;
      }
      .soon_div h1{
        letter-spacing: 8px;
        font-weight: 700;
        font-size: 65px;
        width: 500px;
        line-height: 1.15;
        
      }
      
      .info{
        color: #ffffff;
        padding: 10px 0;
        line-height: 1.3rem;
        gap: 3rem;
      }
      
      .info span{
        display: block;
        color:#003557 ;
        font-size:16px ;
      
      }
      .info-1 h5{
        margin-bottom: 1rem;
        font-size:20px;
       
      }
      .info-2{
        margin-top: 2.2rem;
      }
      .info-1 h4,
       .info-2 h4{
           font-size: 18px;
           line-height: 1.3;
       }
      .info-1 span,
       .info-2 span{
           font-size: 20px;
           line-height: 1.3;
       }
      
      .shop-connect{
        display: flex;
        gap: 2rem;
        padding: 0 0 2rem 0;
      }
      .shop h2, .connect h2{
        padding: 0 0 10px 0;
        font-size: 20px;
        
      }
      .shop-list{
        display: flex;
        gap:1rem;
        
      }
      .shop-list li{
        background: #fff;
        padding: 10px 16px 0 16px;
        border-radius: 18px;
        
      }
      
      .social-link{
        display: flex;
        gap: 1rem;
      }
      .social-link li{
        font-weight: bold;
        font-size: 30px;
      }
      .mobile-footer{
        display: none;
      }
}


@media (min-width: 1020px) and (max-width:1910px){
    .vertical{
        height: 100vh;
      }
      .about-text{
        padding: 40px 3px 0 3px;
        font-size: 14px;
        line-height: 1.5;
      
      }
      .about-text span{
        font-size: 12px;
        display: block;
        padding: 5px 0 20px 0;
      }
      .about-logo{
        position: absolute;
        left: 12%;
        bottom: 89px;
      }
      .copy{
        font-size: 12px;
        
      }
      .mobile-footer{
        display: none;
      }
}
/* for tablets */
@media (min-width: 769px) and (max-width:1020px){
    body,
    html{
        background: url(./images/fcb_biker_BG_mobile-0.75x.jpg) no-repeat center center ;
    }
    .container{
      background: #00919e62;
      height: 100%;
      
      
    }
    .about{
        padding: 0 10rem;
        margin: 0 auto;
    }
    .wrapper{
        flex-direction: column;
  
      
    }
    .vertical{
        display: none;
    }
    .about, .coming-soon{
        background: none;
    }
    .coming-soon, .about{
        margin: 0;
    }
    .soon_div h1{
        width:50%;
        max-width: 80%;
        margin: 0 Auto;
        line-height: 4rem;
    }
    .soon_div h3{
        font-size: 25px;
    }
    .coming-soon{
       text-align: center;
       padding: 0;
    }
    .info{
        flex-direction: column;
    }
    .info-2{
        margin-top: 0.5rem;
    }
    .shop-connect{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 0;
    }
    .about-logo{
        position:static;
        text-align:center ;
    }
    .copy{

    }
      .copy a {
        display:block;
        text-decoration: underline;
        color:#ffffff ;
      }
      footer{
        display: none;
      }
}
/* For tablets */

@media (max-width:768px){
    body,
    html{
        background: url(./images/fcb_biker_BG_mobile-0.75x.jpg) no-repeat center center;
        
    }
    .container{
      background: #00919e62;
      
    }
    .wrapper{
        flex-direction: column;
        
    }
    .vertical{
        display: none;
    }
    .about{
      padding: 0 10rem;
      margin: 0 auto;
  }
    .about, .coming-soon{
        background: none;
    }
    .coming-soon, .about{
        margin: 0;
    }
    .soon_div h1{
        width:60%;
        margin: 0 Auto;
    }
    .soon_div h3{
        font-size: 25px;
    }
    .coming-soon{
       text-align: center;
       padding: 0;
    }
    .info{
        flex-direction: column;
    }
    .info-2{
        margin-top: 0.5rem;
    }
    .shop-connect{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    .about-logo{
        position:static;
        text-align:center ;
    }
    .mobile-footer{
      background: #7a0c0cda;
      width: 100%;
    }
    .copy a{
      display: block;
    }
    footer{
      display: none;
    }
}   
  
/* For mobile */

@media (max-width:480px){
    body,
    html{
        background: url(./images/fcb_biker_BG_mobile-0.75x.jpg) no-repeat center center;
        
    }
    .wrapper{
        flex-direction: column;
        background: #00919e62;
      
    }
    .about{
      padding: 0;
      margin:0;
  }
    .vertical{
        display: none;
    }
    .about-text{
        padding: 30px 5px 0 5px;
    }
    .about, .coming-soon{
        background: none;
    }
    .coming-soon, .about{
        margin: 0;
    }
    .soon_div h1{
        width:90%;
        margin: 0 Auto;
    }
    .soon_div h3{
        font-size: 25px;
    }
    .coming-soon{
       text-align: center;
       padding: 0;
    }
    .info{
        flex-direction: column;
    }
    .info-2{
        margin-top: 0.5rem;
    }
    .shop-connect{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 0;
    }

    .mobile-footer{
      background:#7a0c0cda;
      text-align: center;
    }
    .copy{
      font-size: 15px;
      

    }
   .copy a{
     display: block;
   }
   footer{
    display: none;
  }
}

@media (max-width:320px){
    body,
    html{
        background: url(./images/fcb_temp_mobile.png) no-repeat center center/fill;
        
    }
    .about-text{
      font-size:10px;
    }
    .about-text span{
      font-size:9px;
    }
    .soon_div h1{
      font-size: 40px;
    }
    .copy{
      font-size: 15px;
    }
}
